header{
    display: flex;
    justify-content: center;
    .header-container{
        width:1500px;

        display: flex;
        justify-content: space-between;
        align-items: ceil($number: 0);
        div{
            width: 87px;
            padding: 8px;

            img{
                width: 100%;
            }
        }
        
        
        ul{
            display: flex;
            align-items: center;
            li{
                a{
                    padding: 30px;
                    color: $text-dark-color;
                    font-size: 18px;
                    text-transform: uppercase;
                    &:hover{
                        border-bottom: 5px solid $main-color;
                        color: $main-color;
                    }
                }
            }
        }
    }


}